<header class="page_block row g-0">
    <div class="header_logo col-3">
        {{> logo-2}}
    </div>
    
{{#with header}}

  <nav class="header_nav col-9">
      <div class="header_nav_right"> 

        {{!-- {{> nav-2 list=links}} --}}
        {{!-- <div class="nav {{#if isVertical}}nav_vertical{{else}}nav_inline{{/if}}"></div> --}}
         {{#each links}}
             <a href="{{url}}" class="nav_links">{{text}}</a>
        {{/each}}
        </div>   
   </nav> 

<div class="header_brandName row g-0">
    <div class="logo-ad col-3">
        <span class="bage">Ad</span>
    </div>
    <div class="ad col-6">
       {{#with ad}}
        <a href="{{url}}" class="ad_text">{{text}}</a>    
    {{/with}} 
    </div>
    <div class="user_online">User Online:{{userOnline}}</div>
</div>
{{/with}}
</header>

<hero class="hero">
    {{#with hero}} 
    <h1 class="hero_title">{{title}}</h1>
        <p class="hero_description">{{description}}</p>
        {{#with button}}
        <div class="hero_button">
             <a href="{{url}}" class="button_text">{{text}}</a>
        </div>
            
        {{/with}}
    {{/with}}
</hero>

<div class="about">
    {{#with about}}
        <div class="card_about">
            <h2 class="about_heading">{{heading}}</h2>
            <p class="about_info">{{info}}</p>
        </div>
    {{/with}}
</div>

<main class="articles">
    <div class="title_articles">
        <h3 class="main_title">Our Articles</h3>
        <button class="main_button" url="#">View All</button>
    </div>

      <div class="card_articles">
            {{#each articles}}
                    <div class="nav {{#if isNew}}true{{else}}nav_inline{{/if}}"></div>

                    <img src="{{photo}}" alt="photo" class="card_img" id="articles-{{id}}"/ >
                    <h4 class="card_name">{{name}}</h4>
                    <p class="cards_description">{{description}}</p>

                   <div>
                        <a href="#href"class="cards_button">Read All</a>
                   </div>
            {{/each}}
        </div>
</main>




<footer class="footer row">
    {{#with footer}}
        {{#each pages}}
            <div class="footer_pages">
                <a href="{{path}}" class="footer_name col-4">{{name}}</a>
            </div>
        {{/each}}
        <div class="footer_copyright col-6">{{copyright}}</div>
    {{/with}}
</footer>
   








