
   
    <header class="page_block">
        <div class="header row g-0">
            <div class="col-3">
           {{> logo}}
            </div>
            <nav class="header_nav col-6">
                <div class="header_nav_right">
                   
                {{> nav list=header }}
                </div>
           </nav> 
        </div>
         {{!-- {{> divider }} --}}
    </header>  

<main class="main">  
    {{#with info}}
        <div class="info">
            <h1 class="info_title">{{title}}</h1>
        <p class="info_description">{{description}}</p>
        </div>
    {{/with}}

    {{#with form}}
        <form class="form">
            <div class="form_inputs_list">  
                {{#each inputs}}
                    <input type="{{type}}" class="form_inputs" placeholder="{{placeholder}}" name="{{name}}" id="form_inputs-{{id}}" /> 
                {{/each}}
            </div>


        <div class="form_checkbox">
            <input type="checkbox" name="{{checkbox.name}}" id="{{checkbox.name}}" />
            <div></div>
            <label for="{{chackbox.name}}">{{checkbox.label}}</label>
        </div>
      
        <button type="submit" class="form_button">{{button}}</button>
         {{> divider }}
             <p class="form_info">{{info}}</p>    
        </form>
    {{/with}}
</main>

 <div class="shadow_line">
{{#with updates}}
    <div class="updates">
        <h2 class="updates_title">{{title}}</h2>          
  
        {{#each list}}
            <div class="updates_list">
               <div class="square {{#if @first}}blue{{/if}}{{#if @last}}violet{{/if}}"></div>
                
                <strong class="list_nickname">{{nickname}}</strong>
                <p class="list_desctiption">{{description}}</p>

                
            </div>
        {{/each}} 

    
        
        {{#with show_all}}
            <div class="show_all">
                <a href="{{url}}" class="show_all_link">{{text}}</a>
            </div>
        {{/with}}
       </div>
    </div>
{{/with}}

<div class="card_expirience">
    {{#with expirience}}
        <h3 class="expirience_title">{{title}}</h3>
        <span class="badge_hot">{{badge}}</span>

        {{#each list}}
        <div class="card_list">
            <strong class="card_list_name">{{name}}</strong>
            <p class="card_list_details">{{details}}</p>
        </div>

        {{/each}}

    {{/with}}
</div>


    <footer class="page_block">
             {{> divider }}
                <div class="row  g-0 footer">
                    <div class="col-3">
                    {{> logo}}
                    <span class="footer_copyright">Copyright 2024</span>
                    </div>  
                {{#each footer}} 
                <div class="col-3">
                    <strong>
                    <span class="footer_title">{{title}}</span>
                    </strong>
                     {{> nav list=links isVertical=true }}
                </div>
                {{/each}}
                </div>
    </footer>      

